@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s ease-out;
  text-decoration: none;
  background-color: #005d4d;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4; 
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: #f4f4f4;
}


html {
  background-color: #005d4d;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

.header {
  /* padding: 2rem 9%; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* background: #fff; */
}

.header .logo {
  font-size: 2.5rem;
  margin-left: 60px;
  padding: 2rem 9%;
}

.centera .allul ul {
  align-items: center;
  justify-content: center;
}

.allli {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 270px;
}

.allli ul {
  list-style: none;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allli li {
  margin-right: 20px;
}

.allli a {
  font-size: 1.7rem;
  color: #fff;
  padding: 15px;
  text-decoration: none;
}

.signin {
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
  height: 50px;
  width: 150px;
  color: #fff;
  font-size: 1.5em;
  border-radius: 50px;
  margin-left: 270px;
}

.signin:hover {
  background-color: #fff;
  color: #005c4d;
}

.intro {
  margin-top: 120px;
}

.p_intro {
  margin-top: 30px;
  font-size: 20rem;
  color: white;
  text-transform: bolder;
  text-align: center;
  font-size: 17rem;
}

  .star {
    margin-left: 120px;
  }

h1 {
  margin-top: 10px;
}

.child {
  margin-left: -150px;
  margin-top: -40px;
}

.camera {
    width: 15rem;
    position: relative;
    top: 18px;
}

.girl {
  width: 15rem;
  position: relative;
}

.rectangle {
  height: 45px;
  width: 123px;
  background-color: #aab2ff;
  transform: rotate(90deg);
  margin-top: -15.3rem;
  margin-left: 32rem;
}

.triangle {
  width: 20px;
	height: 30px;
	border-top: 65px solid transparent;
	border-right: 50px solid #008165;
	border-bottom: 65px solid transparent;
  margin-left: 1120px;
  margin-top: -90px;
}
